
block head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Småsyskonöverlämning 2014
    link(href='css/bootstrap.css', rel='stylesheet')
    link(href='css/full.css', rel='stylesheet')
    script(src='js/jquery-1.10.2.js')
    script(src='js/bootstrap.js')

mixin mission(id)
	form(method='post', action='/')
		input(type='hidden', name='mission', value=id)
		input(type='text', name='passphrase')