doctype html

html.full
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='')
		meta(name='author', content='')
		title Småsyskonöverlämning 2014
		link(href='css/bootstrap.css', rel='stylesheet')
		link(href='css/full.css', rel='stylesheet')
		script(src='js/jquery-1.10.2.js')
		script(src='js/bootstrap.js')
	body
		.brand Småsyskonöverlämning 2014
		.address-bar Ni kommer ALDRIG att klara det
		nav.navbar.navbar-default(role='navigation')
			.container
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='index.php') Småsyskonöverlämning 2014
			.collapse.navbar-collapse.navbar-ex1-collapse
				ul.nav.navbar-nav
					li blod
					li svett
					li tårar
					li kramar

		block mission


