extends layout

block mission
	.container
		.row
			.box
				.col-lg-12.text-center
					h1.text-center Sådärja!
					p Det verkar som att ni har klarat av ett uppdrag.
					p Nästa uppdrag hittar ni om ni klickar på länken.
					a.navbar-brand(href=nextmissionurl) Nästa uppdrag