extends layout

block mission
	.container
		.row
			.box#linusbox
				if wronganswer
					img(src='img/linusarg.png')
					img(src='img/linusarg.png')
					img(src='img/linusarg.png')
				else
					img(src='img/linus.png')
					img(src='img/linus.png')
					img(src='img/linus.png')
		.row
			.box
				.col-lg-12.text-center
					h1.text-center #{title}
				if done
					.victory
						p Ni är klara, ät kuk och dö.

				else
					.mission
						iframe(src=missionurl, frameborder='0', allowfullscreen='allowfullscreen')

		if !done
			.row
				.box#formbox
					.col-lg-12.text-center
						form.missionform(method='post', action='/')
							input(type='hidden', name='mission', value=id)
							input.form-control(type='text', name='passphrase', placeholder='Lösning', autocomplete='off')
							input.btn.btn-danger(type='submit', value='Gissa')
